<div class="center-horizontal">
<div class="center-vertical">
	<h1>新規登録</h1>
	<form action="/signup" method="post" class="signin-form" enctype="multipart/form-data">
      <input name="name" placeholder="ユーザー名">
      <input name="password" type="password" placeholder="パスワード">
      <input name="password_confirmation" type="password" placeholder="パスワードを確認">
      <input name="image" type="file">
      <input type="submit" value="Sign up">
    </form>
</div>
</div>